*{
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
}
.container {
    padding:10px 20px
}
#chat-window {
    height: 60vh;
    width: 60vh;
    background-color: #eee;
    overflow-y: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
    border-bottom: none;
    /*padding: 10px;*/
}
#output p{
    margin: 0 10px;
    padding: 10px 0;
    border-bottom: 1px solid #999;
}
#output p strong {
    color: mediumblue;
}
#feedback{
margin: 0 10px;
}

#message, #send, #name{
    padding:10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width:60vh;
    border:1px solid #999;
    outline: none;
}
#message,#name{
    border-bottom:none;
}
#message:focus, #name:focus{
    border-color: blue;
}
#name:focus + #message{
    border-top-color:blue;
}
#message:focus{
    border-bottom:1px solid blue;
}

#send  {
    background-color: blue;
    color: #fff;
    font-size: 14px;
    outline: none;
}
.no-empty {
    border: 1px solid red !important;
}